rdkit==2023.9.1
atomicwrites==1.4.1
attrs==23.2.0
certifi==2024.2.2
chardet==5.2.0
Click==8.1.7
coverage==7.5.1
cycler==0.12.1
entrypoints==0.3
flake8==3.7.9
Flask==2.2.5
gunicorn==22.0.0
idna==3.7
importlib-metadata==3.6.0
itsdangerous==2.0
Jinja2==3.1.4
MarkupSafe==2.1.2
matplotlib==3.7.3
mccabe==0.6.1
more-itertools==7.2.0
# -e git+https://github.com/ComPlat/nmrglue.git@c5a7d4d0073fedff68808b4e9c95836a8c20413e#egg=nmrglue
-e git+https://github.com/ComPlat/nmrglue.git@e6e8a63b1848ae0525f07de0a6ec0cfdb900ba60#egg=nmrglue
netCDF4==1.5.3
numpy==1.22.4
olefile==0.46
pandas==2.0.3
pathlib2==2.3.4
Pillow==10.3.0
pluggy==0.12.0
pycodestyle==2.5.0
pyflakes==2.1.1
pymzml==2.5.2
pyparsing==2.4.2
pytest==7.2.0
python-dateutil==2.8.2
pytz==2023.3
regex==2019.4.9
requests==2.32.2
scipy==1.7.3
six==1.11.0
urllib3==1.26.18
Werkzeug==3.0.3
zipp==0.5.2
pyopenms==2.6.0
PyJWT==2.8.0
flask-jwt-extended==4.5.2
pylint==2.17.7
