name: Tests

on: [push]

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        check-latest: true
        cache: "pip"
        python-version: "3.12"
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install .[dev]   
    - name: Create tmp directory with permissions
      run: |
        mkdir -p chem_spectra/tmp
        chmod -R 777 chem_spectra/tmp
    - name: Start msconvert Docker container
      run: |
        docker run --detach --name msconvert_docker \
          --rm -it \
          -e WINEDEBUG=-all \
          -v ${{ github.workspace }}/chem_spectra/tmp:/data \
          proteowizard/pwiz-skyline-i-agree-to-the-vendor-licenses bash
    - name: Test with pytest
      shell: bash -el {0}
      run: |
        python -m pytest
